<!DOCTYPE html>
<html>
<head>
	<title>Boku No Hiro Akademia</title>
</head>
<body>
	<h1 style= text-align:center; title="header">Story</h1><br>
	<img title="img titre" src="https://www.pngitem.com/pimgs/m/234-2348993_my-hero-academia-title-png-download-boku-no.png" alt="img titre" width="800" height="200"><br>
<br>
	<p1>Synopsis</p1>
		<p title="tooltip">Dans un monde où 80 % de la population mondiale possède des super-pouvoirs, ici nommés "Alters" (個性, Kosei?), n'importe qui peut devenir un héros ou, s'il le souhaite, un criminel. Le manga suit les aventures de Izuku Midoriya "Deku", l'un des rares humains ne possédant pas d'Alter, qui rêve pourtant de rejoindre la filière super-héroïque de la grande académie Yuei (勇井高校, Yūei Kōkō?) et de devenir un jour un des plus grands héros de son époque, à l'image de son héros, All Might !</p>
		<button onclick="document.location = 'https://fsa.zobj.net/crop.php?r=8n4woDvvEjkhYQoCOspHf5aYwjePgzCeSfMUOVZJQxSwrd7_ThHNyyOjGx-LmdtJ5TeTvCgzk3W5x_PRMRDtoqaJiS1LnHRpDzOOeaW8_uqOovw0_h9EH3CZrcKyZ5dsJFF5QcWW7J5k4eSl'">ALL MIGHT</button>

</body>

<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>